@font-face {
    font-family: 'cursed-timer-ulil';
    src: url('CursedTimerUlil-Aznm.ttf');
}

body {
    margin: 0;
    background: #003049;
    font-family: 'cursed-timer-ulil', cursive;
    color: #f77f00;
    text-align: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin: 65px auto 21px;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 650px;
}

.score {
    font-size: 90px;
    color: #003049;
    background: #fcbf49;
    border: none;
    border-radius: 5px;
    width: 150px;
    padding-top: 15px;
    margin: 0px auto 26px;
}

.point-btn {
    font-family: inherit;
    min-height: 45px;
    min-width: 45px;
    background: none;
    border: 2px solid #f77f00;
    border-radius: 5px;
    color: #f77f00
}

.footer {
    width: 650px;
}

#new-game-btn {
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}